<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.repository.article.mapper.BlogArticleMapper">

    <select id="getArticleById" parameterType="java.lang.Long"
            resultType="com.miracle.entity.article.dto.ArticleDetailDTO">
        select article_id,
               title,
               summary,
               content,
               type,
               create_time,
               update_time,
               author,
               read_count,
               data_flag,
               top_flag
        from blog_article
        where article_id = #{id}
    </select>

    <insert id="saveArticle" parameterType="com.miracle.entity.article.po.ArticleDetailPO">
        insert into blog_article (
        title, content, author, summary
        <if test="po.type!=null">
            ,type
        </if>
        <if test="po.topFlag!=null">
            ,top_flag
        </if>
        )
        values (
        #{po.title}, #{po.content}, #{po.author}, #{po.summary}
        <if test="po.type!=null">
            ,#{po.type}
        </if>
        <if test="po.topFlag!=null">
            ,#{po.topFlag}
        </if>
        )
    </insert>

    <select id="queryComment" parameterType="com.miracle.entity.article.vo.CommentVO"
            resultType="com.miracle.entity.article.dto.CommentDTO">
        select comment_id,
               article_id,
               reply_id,
               content,
               commenter,
               comment_time,
               like_count,
               data_flag
        from blog_comment
        where article_id = #{vo.articleId}
        order by comment_time DESC
    </select>

    <select id="queryHotArticle" resultType="com.miracle.entity.article.dto.ArticleDTO">
        select article_id, title, update_time, read_count
        from blog_article
        order by read_count desc
        limit 0,3
    </select>

    <update id="addReadCount">
        update blog_article
        set read_count=read_count + 1
        where article_id = #{id}
    </update>

    <insert id="saveComment" parameterType="com.miracle.entity.article.vo.CommentVO">
        insert into blog_comment (article_id, content)
        values (#{vo.articleId}, #{vo.content})
    </insert>

</mapper>