<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.repository.article.mapper.BlogArticleMapper">

    <select id="getArticleById" parameterType="java.lang.Long"
            resultType="com.miracle.entity.article.dto.ArticleDetailDTO">
        select article_id,
               title,
               summary,
               content,
               type,
               create_time,
               update_time,
               author,
               read_count,
               data_flag,
               top_flag
        from blog_article
        where article_id = #{id}
    </select>

    <insert id="saveArticle" parameterType="com.miracle.entity.article.po.ArticleDetailPO">
        insert into blog_article (
        title, content, author, summary
        <if test="po.type!=null">
            ,type
        </if>
        <if test="po.topFlag!=null">
            ,top_flag
        </if>
        )
        values (
        #{po.title}, #{po.content}, #{pos.author}, #{po.summary}
        <if test="po.type!=null">
            ,#{po.type}
        </if>
        <if test="po.topFlag!=null">
            ,#{po.topFlag}
        </if>
        )
    </insert>

</mapper>