<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.repository.admin.mapper.BlogDictMapper">

    <select id="queryDictByDictName" parameterType="java.lang.String" resultType="com.miracle.entity.admin.dto.DictDTO">
        select dict_item_id, item_value, item_name, item_order
        from blog_dict_item t1
                 join blog_dict t2 ON t1.dict_id = t2.dict_id
        where t2.dict_code = #{name}
    </select>

</mapper>